---
layout: img_banner_style
permalink: /safety
bannerImage: assets/img/general/historyRusty.png
bannerCaption: Safety
---
<!-- Main Container -->
<div id="banners">
  <!-- TODO - put a picture here? -->
</div>

<div class="container-fluid-kamn">
  <div class="row">
    <div class="container">
      <h1>

      <br>
      <h1>
        Material Safety Data Sheets
      </h1>

      <!-- Text input for filtering -->
      <input type="text" id="file-filter" placeholder="Filter">
      

        {% capture unique_categories %}
          {% for file in site.static_files %}
            {% assign parts = file.path | split: '/' %}
            {% if parts[2] == 'documents' and parts[3] == 'msds' and parts[4] %}
              {{ parts[4] }}
            {% endif %}
          {% endfor | uniq %}
        {% endcapture %}
        
        {% assign categories = unique_categories | split: ' ' | uniq %}

        {% for category in categories %}
          <h2>{{ category }}</h2>
          <div class="row">
            {% for file in site.static_files %}
              {% assign parts = file.path | split: '/' %}
              {% if parts[3] == 'msds' and parts[4] == category %}
                <div class="col-sm-3 with-border">
                  <div class="card">
                    <div class="card-body">
                      <a href="{{ file.path }}" target="_blank">{{parts[5]}}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}

        <br>
      </div>
    </div>
  </div>    


  <script>
    // JavaScript to handle filtering by file path
    document.getElementById('file-filter').addEventListener('input', function() {
      var filter = this.value.toLowerCase();
      var fileLinks = document.querySelectorAll('.container .card-body a');
      
      fileLinks.forEach(function(link) {
        var filePath = link.textContent.toLowerCase();
        var tableRow = link.closest('.col-sm-3');
        
        if (filePath.includes(filter)) {
          tableRow.style.display = 'block';
        } else {
          tableRow.style.display = 'none';
        }
      });
    });
  </script>
<!--End Main Container -->