
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/mainPageSlider/slide1.jpg" height="{{site.banner_height}}" alt="Image of first carousel" class="carousel-img">
                            <div class="carousel-caption">
                                <h1 class="carousel-title hidden-xs"><b>Robot Casserole</b></h1>
                                <p class="carousel-body">FIRST Robotics Team 1736</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/mainPageSlider/slide2.jpg" height="{{site.banner_height}}" alt="Image of second carousel" class="carousel-img">
                            <div class="carousel-caption">
                                <h1 class="carousel-title hidden-xs">Inspiring Students since 2006</h1>
                                <p class="carousel-body">Award-winning Robots and Mentors</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/mainPageSlider/slide3.jpg" height="{{site.banner_height}}" alt="Image of third carousel" class="carousel-img">
                            <div class="carousel-caption">
                                <h1 class="carousel-title hidden-xs">Professional Mentorship</h1>
                                <p class="carousel-body">Mechanical, CAD, Software, Electrical, Business</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->

                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/mainPageSlider/slide4.jpg" height="{{site.banner_height}}" alt="Image of fourth carousel" class="carousel-img">
                            <div class="carousel-caption">
                                <h1 class="carousel-title hidden-xs">Compete!</h1>
                                <p class="carousel-body">Attend regional events local and on-the-road.</p>
                            </div>
                        </div>
                        <!-- End Slide 4 -->

                        <!-- Begin Slide 5 -->
                        <div class="item">
                            <img src="../assets/img/mainPageSlider/slide5.jpg" height="{{site.banner_height}}" alt="Image of fifth carousel" class="carousel-img">
                            <div class="carousel-caption">
                                <h1 class="carousel-title hidden-xs">Join the Legacy!</h1>
                                <p class="carousel-body">Students, Mentors, and Sponsors welcome... No prior experience needed!</p>
                            </div>
                        </div>
                        <!-- End Slide 5 -->
                    </div>